body{
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 10%;
}

#mode{
    color: rgb(255, 255, 255);
    border-radius: 50px;
    height: 35px;
    width: 35px;
    font-size: 8px;
    background:linear-gradient(180deg,#111827,#1f2937);
    box-shadow:0 6px 16px rgba(2,6,23,0.6);
    transition:transform .06s ease, box-shadow .06s ease, background .12s ease;outline:none
}

button:active{
    transform:translateY(5px);
    box-shadow:0 0 0 3px rgba(96,165,250,0.15)
}

#mode:hover{
    color: #48cff4;
}


#main_container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-width: 50vh;
    min-height: 100vh;
    background-color: rgb(10, 212, 212);
    border-color: black;
    border-radius: 20px;
    border-width: 10px;
    padding: 3%;
    gap: 120px;
    box-shadow:0 6px 16px rgba(2,6,23,0.6);
    transition:transform .06s ease, box-shadow .06s ease, background .12s ease;outline:none
    
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #070391;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: #ffffff;
    align-items: center;
    box-shadow:0 6px 16px rgba(7, 29, 103, 0.6);
    transition:transform .06s ease, box-shadow .06s ease, background .12s ease;outline:none
}

#nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    font-size: 24px;
    align-items: center;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    transform:translateY(5px);
    
}

hr {   
    border-radius: 5px;
    height: 2px;           
    background-color: #48cff4; 
    width: 50%;            
    position: inherit;
       
}

#cont_body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#calendar_img{
    height: 250px;
    width: 250px;
}

#lpText{
    max-width: 375px;
}

#lpt{
    font-size: 44px;
}
#strbtn_container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
}
#startbtn{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 35px;
    width: 100px;
    background:linear-gradient(180deg,#064d86,#1f2937);
    box-shadow:0 6px 16px rgba(2,6,23,0.6);
    transition:transform .06s ease, box-shadow .06s ease, background .12s ease;outline:none
}

#startbtn1{
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 35px;
    width: 125px;
    background:linear-gradient(180deg,#064d86,#1f2937);
    box-shadow:0 6px 16px rgba(2,6,23,0.6);
    transition:transform .06s ease, box-shadow .06s ease, background .12s ease;outline:none
}

#cont_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    align-items: center;
    height: 50px;
    width: 350px;
    
}
